@layer insights-theme {
    .fi-tabs:not(.fi-contained) {
        --tw-shadow: var(--insights-theme-shadow-raised);
        box-shadow:
            var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
            var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
            var(--tw-shadow);
        border-radius: 2147483647px;
    }

    .fi-tabs-item {
        border-radius: 2147483647px;
    }

    .fi-tabs-item.fi-active {
        background-color: var(--primary-500);
    }

    @supports (color: color-mix(in lab, red, red)) {
        .fi-tabs-item.fi-active {
            background-color: color-mix(in oklab,
                    var(--primary-500) 10%,
                    transparent);
        }
    }

    .fi-tabs-item.fi-active:where(.dark, .dark *) {
        background-color: var(--primary-400);
    }

    @supports (color: color-mix(in lab, red, red)) {
        .fi-tabs-item.fi-active:where(.dark, .dark *) {
            background-color: color-mix(in oklab,
                    var(--primary-400) 10%,
                    transparent);
        }
    }

    .fi-tabs-item.fi-active>.fi-badge:not(.fi-color) {
        --insights-theme-chip-seed: var(--primary-500);
    }

    @supports (color: color-mix(in lab, red, red)) {
        .fi-tabs-item.fi-active>.fi-badge:not(.fi-color) {
            --insights-theme-chip-seed: color-mix(in oklab,
                    var(--primary-500) 75%,
                    var(--gray-500));
        }
    }

    .fi-tabs-item.fi-active>.fi-badge:not(.fi-color) {
        color: var(--primary-800);
        --tw-ring-color: var(--primary-600);
    }

    @supports (color: color-mix(in lab, red, red)) {
        .fi-tabs-item.fi-active>.fi-badge:not(.fi-color) {
            --tw-ring-color: color-mix(in oklab,
                    var(--primary-600) 10%,
                    transparent);
        }
    }

    .fi-tabs-item.fi-active>.fi-badge:not(.fi-color):where(.dark, .dark *) {
        color: var(--primary-200);
        --tw-ring-color: var(--primary-400);
    }

    @supports (color: color-mix(in lab, red, red)) {
        .fi-tabs-item.fi-active>.fi-badge:not(.fi-color):where(.dark, .dark *) {
            --tw-ring-color: color-mix(in oklab,
                    var(--primary-400) 30%,
                    transparent);
        }
    }

    .fi-tabs-item.fi-active>.fi-badge:not(.fi-color):where(.dark, .dark *) {
        --insights-theme-chip-seed: var(--primary-400);
    }

    @supports (color: color-mix(in lab, red, red)) {
        .fi-tabs-item.fi-active>.fi-badge:not(.fi-color):where(.dark, .dark *) {
            --insights-theme-chip-seed: color-mix(in oklab,
                    var(--primary-400) 75%,
                    var(--gray-400));
        }
    }
}