@layer insights-theme {
    .fi-theme-switcher-btn.fi-active {
        background-color: var(--primary-500);
    }

    @supports (color: color-mix(in lab, red, red)) {
        .fi-theme-switcher-btn.fi-active {
            background-color: color-mix(in oklab,
                    var(--primary-500) 10%,
                    transparent);
        }
    }

    .fi-theme-switcher-btn.fi-active:where(.dark, .dark *) {
        background-color: var(--primary-400);
    }

    @supports (color: color-mix(in lab, red, red)) {
        .fi-theme-switcher-btn.fi-active:where(.dark, .dark *) {
            background-color: color-mix(in oklab,
                    var(--primary-400) 10%,
                    transparent);
        }
    }
}