@layer insights-theme {
    .fi-sidebar .fi-user-menu-trigger {
        border-radius: 2147483647px;
    }

    .fi-account-widget-heading {
        font-family: var(--insights-theme-font-display);
        --tw-numeric-figure: lining-nums;
        font-variant-numeric: var(--tw-ordinal, ) var(--tw-slashed-zero, ) var(--tw-numeric-figure, ) var(--tw-numeric-spacing, ) var(--tw-numeric-fraction, );
    }
}